<footer class="mt-auto mx-4 mb-6 rounded-base shadow-xs sm:mx-6">
    <div class="mx-auto w-full max-w-7xl p-4 md:py-6">
        <span class="block text-sm text-body sm:text-center">
            © {{ 'now'|date('Y') }} {{ app_name }} · Conseil départemental des Ardennes ·
            {{ app_version ? app_version : 'Version non disponible' }}
        </span>
    </div>
</footer>
